* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  background: -webkit-linear-gradient(grey, black);
  background: -o-linear-gradient(grey, black);
  background: -moz-linear-gradient(grey, black);
  background: linear-gradient(grey, black);
  padding: 30px;
}
